@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #EADCA6;
  --dark-color: #C36A2D;
  --dark2-color: #850E35;
  --small-font-size: 16px;
  --toastify-color-info: #C36A2D;
}

body {
  margin: 0;
  font-family: 'Poppins',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  position: sticky;
  top: 50px;
  z-index: 1000;
}

.loading-bar {
  position: absolute;
  background-color: #F1A661;
  /* background-color: red; */
  height: 5px;
}

main {
  min-height: calc(100vh - 44px);
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
}

.banner {
  display: none;
}

.login-page, .register-page {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
  /* align-items: center; */
}

.login-page h1, .register-page h1 {
  text-align: center;
  
  font-size: 48px;
  color: var(--dark-color)
}

.login-page h2, .register-page h2 {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--dark-color);
}

.register-description {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: var(--dark-color);
}

.login-card, .register-card {
  background-color: #fff;
  padding: 50px 25px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.login-input, .register-input {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  
}

.login-input input, .register-input input {
  height: 30px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: var(--dark-color);
  padding-left: 10px;
  font-size: var(--small-font-size);
  font-weight: 500;
}

.login-input-section p, .register-input-section p {
  margin-top: 10px;
  color: var(--dark-color);
  font-weight: 500;
  text-align: center;
}

.login-input-section a:link, .register-input-section a:link {
  color: var(--dark-color);
  /* text-decoration: none; */
}

.login-input-section a:visited, .register-input-section a:visited {
  color: var(--dark-color);
  /* text-decoration: none; */
  font-weight: bold;
}

/* .login-input input::placeholder {
  padding-left: 10px;
} */

form button {
  height: 30px;
  margin-top: 15px;
  background-color: var(--dark-color);
  border: none;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
}

/* Header section */
.header {
  background-color: var(--dark-color);
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: sticky;
  top: 0;
  left: 0;
  transition: .4s ease;
}

.brand a {
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.header-btn {
  display: flex;
  gap: 10px;
}

.btn-category {
  min-width: 44px;
  color: #fff;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-category svg {
  width: 25px;
  height: 25px;

}

.category-menu {
  background-color: #fff;
  position: absolute;
  top: 50px;
  right: 0px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  width: 200px;
  min-height: 150px;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 300ms, opacity 300ms, background-color .4s;
}

.category-menu p {
  text-align: left;
  font-weight: 600;
}

.category-menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.category-menu__list button {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: var(--dark-color);
  color: #fff;
  font-weight: 500;
}

.category-menu__list button.active, .sidebar__category button.active {
  background-color: #fff;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  font-weight: 500;
}

.navigation {
  position: fixed;
  top: 50px;
  right: 0;
  width: 300px;
  background-color: #fff;
  text-align: left;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  padding: 25px 20px;
  color: var(--dark-color);
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms, background-color .4s;
}

.navigation.active, .category-menu.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.navigation ul li {
  list-style: none;
  
}
.navigation a {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--dark-color);
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 15px 0;
  
}

.navigation svg {
  margin-right: 15px;
}

.nav-profile {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 15px 0;
  align-items: center;
}

.nav-profile figure {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
}

.nav-profile img {
  width: 100%;
  height: 100%;
}

.btn-theme, .logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins';
  padding: 15px 0;
  cursor: pointer;
}

/* Home Page Section */

.homepage {
  padding: 25px 10px;
}

.homepage h1 {
  text-align: left;
  font-size: 28px;
  color: var(--dark-color);
  font-weight: 600;
}

.threads-list {
  margin-top: 25px;
  min-height: 100vh;
}

.thread-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 10px 15px 10px rgba(0,0,0,0.1);
  padding: 20px 15px;
  margin-bottom: 20px;
  transition: .4s ease;
  cursor: pointer;
}

.thread-item p {
  text-align: left;
}

.thread-body {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.thread-header {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 10px;
  column-gap: 10px;
}

.thread-header h2 {
  text-align: left;
  /* margin-right: 10px; */
  font-weight: 600;
}

.thread-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.thread-time svg {
  width: 10px;
  height: 10px;
  color: gray;
  
}

.thread-time span {
  color: gray;
}

.thread-creator{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.thread-profile {
  display: flex;
  flex-direction: row;
}

.thread-profile figure {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

.thread-profile figure img {
  width: 100%;
  height: 100%;
}

.thread-profile span {
  font-weight: 500;
}

.thread-footer {
  margin-top: 10px;
}

.category p {
  font-weight: 500;
  /* color: var(--dark-color); */
}

.category-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 5px;
}

.category span {
  background-color: var(--dark-color);
  color: #fff;
  padding: 4px 6px;
  text-align: left;
  border-radius: 5px;
}

.vote-section {
  display: flex;
  margin-top: 10px;
  column-gap: 15px;
}

.vote-section button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.vote-section button.active {
  color: var(--dark-color);
  font-weight: 700;
}

.vote-section svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.comment {
  display: flex;
  align-items: center;
}

.comment svg {
  width: 25px;
  height: 25px;
}

footer {
  background-color: var(--dark-color);
  padding: 10px 0;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

footer svg {
  margin: 0 5px;
  
}

.btn-add {
  position: fixed;
  z-index: 10;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  /* right: 50%; */
  width: 50px;
  height: 50px;
  border: 2px solid var(--dark-color);
  background-color: #fff;
  color: var(--dark-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add svg {
  width: 25px;
  height: 25px;
  
  
}

/* modal section */
.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.modal-container.active {
  /* display: flex; */
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.modal-card {
  width: 100%;
  position: relative;
  /* height: 100%; */
  /* background-color: rgba(32, 33, 36, .6); */
  background-color: #fff;
  padding: 30px 10px;
  margin: 0 10px;
  border-radius: 10px;
  /* opacity: 0; */
}

.modal-card h3 {
  margin-bottom: 15px;
  font-size: 24px;
}

.modal-card form {
  display: flex;
  flex-direction: column;
  
}

.modal-card form input {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
  border-width: 0 0 1px 0;
  border-color: var(--dark-color);
  font-weight: 500;
}

.modal-card form input::placeholder {
  font-family: 'Poppins';
}

/* .modal-card div::placeholder {
  color: black;
} */

[data-placeholder]:empty::before{
  content: attr(data-placeholder);
  font-family: 'Poppins';
  color: gray;
}

.input-body {
  text-align: left;
  border: 1px solid var(--dark-color);
  height: 100px;
  padding: 5px;
  color: #000;
  font-weight: 500;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-color);
  background-color: transparent;
  border: none;
}

.close-btn svg {
  width: 25px;
  height: 25px;
}
/* .modal-background:target {
  opacity: 1;
} */

/* .modal-card {
  background-color: #fff;
} */

.leaderboard-page {
  padding: 25px 10px;
  background-color: #fff;
  min-height: 100vh;
}

.leaderboard-page h2 {
  text-align: left;
  /* margin-bottom: 10px; */
}

.leaderboard-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

.leaderboard-header {
  display: flex;
  font-size: 18px;
  text-align: left;
  align-items: center;
}

.leaderboard-list__user-label {
  flex: 1 1;
}

.leaderboard__user-info img {
  border-radius: 50%;
  width: 30px;
}

.leaderboard-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 10px;
}

.leaderboard__user-info {
  flex: 1 1;
  display: flex;
  gap: 8px;
  align-items: center;
}

/* thread detail section */
.detail-page {
  /* padding: 0 10px;
  background-color: var(--bg-color); */
  text-align: left;
}

.thread-detail__content {
  padding: 50px 10px 30px;
  background-color: #fff;
  /* border-bottom: 1px solid gray; */
  /* border-radius: 8px; */
}

.thread-detail__content h2 {
  margin-top: 10px;
}

/* .thread-detail__header {
  
} */
.thread-detail__creator, .comment-creator {
  display: flex;
  align-items: center;
}
.thread-detail__profile, .comment-creator__profile {
  display: flex;
  gap: 8px;
  align-items: center;
  flex: 1 1;
}

.thread-detail__profile img, .comment-creator__profile img {
  border-radius: 50%;
  width: 25px;
}

.thread-detail__time, .comment-creator__time {
  display: flex;
  align-items: center;
  gap: 8px;
  color: gray;
}

.thread-detail__time svg, .comment-creator__time svg {
  height: 10px;
  width: 10px;
}

.thread-detail__body {
  margin-top: 10px;
}

.thread-detail__category {
  margin-top: 5px;
}

.thread-detail__category .category-box span {
  padding: 5px 10px;
  background-color: var(--dark-color);
  color: #fff;
  border-radius: 5px;
}

.separator-line {
  width: 90%;
  height: 1px;
  background-color: #d1d5db;
  display: block;
  margin: 0 auto;
}

.thread-detail__comment__list {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment-item {
  border-bottom: 1px solid #d1d5db;
  /* padding: 10px 0; */
  padding: 0 10px 10px 10px;
}

.comment-body {
  margin: 10px 0;
}

.comment__vote-section {
  display: flex;
  gap: 8px;
}

.comment__vote-section button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.comment__vote-section .active {
  color: var(--dark-color);
}

.comment__vote-section svg {
  width: 25px;
  height: 25px;
}

.comment-input {
  padding: 20px 10px 10px;
}

.comment-input-form {
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  min-height: 100px;
  margin-top: 15px;
  padding: 5px;
}

.comment-input button {
  border-radius: 5px;
  width: 100%;
}

.comment-input p {
  margin-top: 15px;
}

.sidebar li {
  list-style: none;
  
}

main .sidebar {
  display: none;
  visibility: hidden;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  font-size: 18px;
  color: var(--dark-color);
  text-decoration: none;
}

.sidebar__add-thread {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  gap: 10px;
  background-color: var(--dark-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 20px;
}

.sidebar__add-thread svg {
 width: 20px;
 height: 20px;
}

.sidebar ul {
  border-bottom: 1px solid #d1d5db;
  margin-bottom: 20px;
}

.sidebar__category {
  border-top: 1px solid #d1d5db;
  padding-top: 20px;
}

.sidebar__category-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sidebar__category-list button {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--dark-color);
  border: none;
  color: #fff;
  font-weight: 500;
}

/* .logout-btn {
  width: 100%;
} */

.sidebar .logout-btn {
  width: 100%;
  justify-content: start;
  margin-bottom: 10px;
  font-size: 18px;
  gap: 10px;
}

.btn-theme__desktop {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid var(--dark-color);
  bottom: 50px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-color);
  display: none;
  visibility: hidden;
}

.btn-theme__desktop svg {
  width: 30px;
  height: 30px;
}

.not-found-page {
  height: 100vh;
  background-color: #C58940;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 50px; */
  padding: 0 10px;
  color: #fff;
  height: 100;
}

.not-found h2 {
  margin-top: 20px;
  text-align: center;
}

.not-found svg {
  height: 50px;
  width: 50px;
}

.not-found a {
  background-color: #fff;
  border: none;
  padding: 10px;
  color: var(--dark-color);
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 10px;
}

